---
const spreadsheetUrl = "https://docs.google.com/spreadsheets/d/1EIZtJU5eBbnUlrg7fD_ZyIzsr9sn4l4no9ek6M_iSVM/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content={`0; url=${spreadsheetUrl}`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting...</p>
    <p>If you are not redirected automatically, <a href={spreadsheetUrl}>click here</a>.</p>
  </body>
</html>
